.card {
    width: 80%;
    height: 80px;
    border: 2px solid teal;
    display: grid;
    grid-template-columns: 20% repeat(3, 12.4%) 9% 9% 12.4% 12.4%;
    margin: 20px auto auto;
    transform: scale(1);
}
.card img {
    padding-left: 20px;
    width: 70%;
    height: 80px;
}
.btn {
    border: none;
    padding: 0 15px 5px;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    text-align: center;
}
.item {
    text-align: center;
    padding-top: 25px;
}
.like {
    border: none;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    text-align: center;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 13px;
}
.likeL {
    color: red;
}